<div class="contenido">

  <div class="titulo">
    <h1>CONVERSOR DE MONEDAS</h1>
  </div>

  <div class="parametrosDiv">
    <div class="parametrosBtnDiv">
      <div class="parametros">

        <div class="cantidadDiv">
          <span>Cantidad:</span>
          <input type="number" [(ngModel)]="cantidad">
        </div>

        <div class="monedaDeDiv">
          <label for="selectA">Opción A:</label>
          <select id="selectA" [formControl]="fromControl">
            <option *ngFor="let opcion of monedas" [value]="opcion.siglas">{{opcion.siglas}} {{ opcion.nombre }}
            </option>
          </select>
        </div>

        <div class="monedaADiv">
          <label for="selectB">Opción B:</label>
          <select id="selectB" [formControl]="toControl">
            <option *ngFor="let opcion of monedas" [value]="opcion.siglas">{{opcion.siglas}} {{ opcion.nombre }}
            </option>
          </select>
        </div>

      </div>
      <div class="btnDiv">
        <button (click)="convertir()">Convertir</button>
        <span>Resultado:</span>
        <span>{{ resultado() }}</span>
      </div>
    </div>


  </div>

</div>

<router-outlet />
